
html {
    font-family: 'Lato', sans-serif;
    height: 100%; 
}

body { position:relative;
    height: 100%; 
}

#pageTitle {
    height: 70px;
    line-height: 50px;
}

#pageTitle img{
    height: 50px;
}

#pageTitle span {
    font-weight: bold;
    font-size: 26pt;
    color: white;
}

#CreateUserInfo {
    color:#d32f2f;
}


.navCol {
    height: 100%; 
}
.navCol, .navCol a {
    color: white;
}

.navCol span {
    font-size: 14pt;
    text-align:center;
    font-weight: 100;
}

span.sub {
    display: block;
    margin-top: 10px;
    margin-bottom: -30px;
}