{{template "header.html" .}}

    <!-- Page Layout here -->
    <div class="row" style="height: 100%">

        {{template "menu.html" .}}
  
        <div class="col s12 m8 l10"> <!-- Note that "m8 l9" was added -->
            <h1>Wilkommen im  BeetPlaner</h1>
          <!-- Teal page content
  
                This content will be:
            9-columns-wide on large screens,
            8-columns-wide on medium screens,
            12-columns-wide on small screens  -->
  
        </div>
  
      </div>


{{template "footer.html" .}}