{{template "header.html" .}}

    <div class="row" style="height: 100%">

        {{template "menu.html" .}}


        <div class="col s12 m8 l10">
            <h3>Meine Gärten</h3>
            <a class="waves-effect waves-light btn-small" href="/addGarden"><i class="material-icons left">add</i>Anlegen</a>

            

            <div class="row" style="height: 100%">
                <div class="col s12 m8 l5">
                    <ul class="collection">

                        {{ range $key, $value := . }}                        
                            <li class="collection-item">
                                <div>
                                    {{ $value.Name }}
                                    <a href="/myGarden/garden/{{ $value.ID }}" class="secondary-content">
                                        <i class="material-icons">slideshow</i>
                                    </a>
                                </div>
                            </li>                        
                        {{ end }}

                    </ul>
                </div> 
            </div> 
        </div> 
    </div>


{{template "footer.html" .}}