{{template "header.html" .}}

    <!-- Page Layout here -->
    <div class="row" style="height: 100%">

      {{template "menu.html" .}}
  
        <div class="col s12 m8 l10"> 
            <h3>Garten erstellen</h3>
            <div class="row">
            <form class="col s12 m8 l4" method="post" action="/saveGarden">
                <div class='row'>
                  <div class='col s12'>
                  </div>
                </div>
      
                <div class='row'>
                  <div class='input-field col s12'>
                    <input class='validate' type='text' name='GardenName' id='GardenName' />
                    <label for='GardenName'>Bezeichnung</label>
                  </div>
                </div>
      
                <div class='row'>
                  <div class='input-field col s12'>
                    <button type='submit' class='col s12 btn btn-large waves-effect indigo'>Erstellen</button>
                  </div>
                </div>
      
              </form>
            </div>
        </div>
  
      </div>


{{template "footer.html" .}}