
<div class="col s12 m4 l2 green darken-1 navCol" id=""> <!-- Note that "m4 l3" was added -->
    <span>Navigation</span>
 
    
    <ul class="" >
        <li><a href="/">Home</a></li>
        <li><a href="/myGarden">Meine Gärten</a></li>
        <li><a href="/encyclopedia">Lexikon</a></li>
    </ul>  
    <ul class="" >
        <li><a href="/logout">Abmelden</a></li>
    </ul>  
</div>