{{template "header.html" .}}

<div class="container">
  <div class='row'>
    <div class="col s12 center" >
      <h3>Create Account</h3>
    </div>
    <div class="col s12">
       
    </div>
  </div>

  <div class='row'>

    <div class="col s4"></div>
    <div class="col s4">

      <div class="z-depth-1 grey lighten-4 row">

        <form class="col s12" method="post" id="RegisterForm" action="/createUser">
          <div class='row'>
            <div class='col s12'>
            </div>
          </div>

          <div class='row'>
            <div class='input-field col s12'>
              <input class='validate' type='text' name='emailAddress' id='emailAddress' />
              <label for='emailAddress'><i class="material-icons">mail_outline</i> Email</label>
            </div>
          </div>

          <div class='row'>
            <div class='input-field col s12'>
              <input class='validate' type='password' name='password' id='password' />
              <label for='password'><i class="material-icons">lock_outline</i> Password</label>
            </div>
          </div>

          <div class='row'>
            <div class='input-field col s12'>
              <input class='validate' type='password' name='password' id='passwordConf' />
              <label for='passwordConf'><i class="material-icons">lock_outline</i> Password confirmation</label>
            </div>
          </div>

          <div class='row'>
              <div class="col s12" id="CreateUserInfo">
                    {{ .Message }}
              </div>
          </div>

          <div class='row'>
            <div class='input-field col s12'>
              <button type='submit' class='col s12 btn btn-large waves-effect indigo'>Create account</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>



{{template "footer.html" .}}

<script src="/public/js/register.js"></script>